.borde{
    border: 1px solid red;
}
.borde1{
    border: 1px solid blue;
}
body{
    background: #BDBDBD;
}

.cabecera1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}

.cabecera2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

form{
    background-color: rgb(233, 228, 228);
    align-items: flex-end;
    text-align: right;
}


.tagline{
    background-image: url('../img/bg.jpg');
    
    width: 100%; 
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.services{
    background: #BDBDBD;
}


.porfolio{
    background: #BDBDBD;
}

.porfolio img {
    background-color: bg-secondary;
    height: 200px;
}

.porfolio h3 {
    color: blue;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.derecha{
    float : right;
    
}
.foto{
    max-width: 100%;
    height: auto;
}