<nav class="navbar navbar-expand-lg navbar-light bg-black">

  <a class="col-2 navbar-brand text-secondary fs-4 mx-2" href="../index.html">Star BootStrat</a>

  <div class="col-10 collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="col-3 nav-item active">
        <a class="nav-link text-secondary" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>